/* ==========================================================================
   defi / component
   TOUT ton code CSS ici
   ========================================================================== */

// Variables disponibles
:root {
   --color-white: #fff;
   --color-black: #212121;
   --color-primary: #00D1FF;

   --font-primary: 'Poppins', sans-serif;
   }

// Votre code